 uuid: relaxed UUID validation

**Related dev. issue(s):** https://github.com/tarantool/tarantool/issues/5444
**Related doc. issue:** https://github.com/tarantool/doc/issues/4333

**Product:** Tarantool
**Since:** 3.2
**Root document:** 
- https://www.tarantool.io/en/doc/latest/reference/reference_lua/uuid/
- https://www.tarantool.io/en/doc/latest/reference/configuration/configuration_reference/#confval-database.instance_uuid
- https://www.tarantool.io/en/doc/latest/platform/ddl_dml/value_store/#uuid

**SME:** @ Buristan

# Details

[The UUID module documentation][1] mentions that Tarantool generates
UUIDs following the rules for RFC 4122,[version 4, variant 1][2]. It is
worth mentioning that the user can store an arbitrary 128-bit sequence
as an UUID for binary data. String representations still should match
the grammars in RFC 4122, [Section 3][3], and RFC 9562, [Section 4][4].

[1]: https://www.tarantool.io/en/doc/latest/reference/reference_lua/uuid/
[2]: https://en.wikipedia.org/wiki/Universally_unique_identifier#Version_4_(random)
[3]: https://datatracker.ietf.org/doc/html/rfc4122#section-3
[4]: https://datatracker.ietf.org/doc/html/rfc9562#name-uuid-format
Requested by @ Buristan in https://github.com/tarantool/tarantool/commit/b0b32bff022caeffd64ca687baab908f25fa2fcb.